<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELIMINACION ❌</title>
</head>

<body>
    <header>
        <h2>ELIMINACION DEL EVENTO ❌</h2>
        <nav>
            <ul>
                <li><a href="/">VOLVER AL INICIO</a></li>
                <li><a href="/eventos">VER TODOS LOS EVENTOS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem voluptatibus, esse quae magnam, aliquam error
            fugiat similique mollitia saepe, officiis tempore consectetur. Sunt eligendi, omnis iusto eius repellendus
            ex modi.
        </p>
    </main>
</body>

</html>