<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTOS 🎊</title>
</head>

<body>
    <h1>TODOS LOS EVENTOS 🎊</h1>
    <a href="/">VOLVER AL INICIO</a>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam commodi error, obcaecati officiis molestias nihil
        cum rerum cumque quo explicabo nulla ut repellat neque? Laudantium voluptates a perferendis autem cum?</p>
</body>

</html>