{% extends "base.html" %}

{% block titulo %} COM7 | EVENTOS 🎊{% endblock %}

{% block contenido %}
<h2>TODOS LOS EVENTOS 🎊</h2>
<br>
<section>
    <p>Filtrar por categorias:</p>
    <ul>
        <a href="/eventos/">
            <li>Todos</li>
        </a>
        {% for cat in categorias %}
        <a href="/eventos/?categoria={{cat.nombre}}">
            <li>{{cat.nombre}}</li>
        </a>
        {% endfor %}
    </ul>
</section>
<section>
    {% for even in eventos %}
    <div>
        <hr>
        <a href="/eventos/un_evento/{{even.evento_id}}">
            <h3>{{even.titulo}}</h3>
        </a>
        <p><strong>Descripción:</strong>{{even.descripcion|truncatechars:100}}</p>
    </div>
    {% endfor %}
</section>

{% endblock %}