<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EVENTOS 🎊</title>
</head>

<body>
    <h1>TODOS LOS EVENTOS 🎊</h1>
    <a href="/">VOLVER AL INICIO</a>

    <nav>
        <p>Filtrar por:</p>
        <ul>
            {% for cat in categorias %}
            <li>{{cat.nombre}}</li>
            {% endfor %}
        </ul>
    </nav>
    <ul>
        {% for even in eventos %}
        <div>
            <hr>
            <a href="/eventos/un_evento/{{even.evento_id}}">
                <h3>{{even.titulo}}</h3>
            </a>
            <p><strong>Descripción:</strong>{{even.descripcion}}</p>
        </div>
        {% endfor %}
    </ul>
</body>

</html>